@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

.navbar {
    background-color: rgba(255, 255, 255, 0.8); /* Transparent white background */
    border-bottom: 1px solid rgba(224, 224, 224, 0.8); /* Light border */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 15px; /* Thinner padding for a slimmer navbar */
    display: flex;
    justify-content: left;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    z-index: 10; /* Ensures navbar stays on top */
}

.navbar-brand {
    font-size: 22px; /* Slightly smaller text for a thinner look */
    font-weight: bold;
    color: #ff6600; /* Blue color for text */
    font-family: 'Caveat', sans-serif;
    letter-spacing: 0.5px; /* Adds some elegance */
}


