.navbar {
    background-color: #ffffff; 
    border-bottom: 1px solid #e0e0e0; 
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: left;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1); 
}
  
.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: #333333; 
    font-family: 'Arial', sans-serif;
}
  